<!DOCTYPE html>
 <html>
   <head>
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
     <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>

     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

     <style>
           body {
               animation: fadeInAnimation ease 3s;
               animation-iteration-count: 1;
               animation-fill-mode: forwards;
           }
           @keyframes fadeInAnimation {
               0% {
                   opacity: 0;
               }
               100% {
                   opacity: 1;
               }
           }
       </style>
   </head>


   <body class="deep-purple lighten-3">



     {% block content %}
     {% endblock %}

     <!--JavaScript at end of body for optimized loading-->
     <script type="text/javascript" src="static/js/materialize.min.js"></script>



   </body>
   <footer class="page-footer purple" style="position:fixed;bottom:0;left:0;width:100%;">
    <p class="right-align white-text"> powered by bee and jug<p>
</footer>


 </html>
